/*Propiedades del encabezado*/
header {
    position: static;
    height: 15%;
    mix-blend-mode: color-dodge;
}

header div {
    position: fixed;
    height: 10%;
    width: 100%;
    left: 0px;
    top: 0px;
    background: #601714;
    mix-blend-mode: normal;
}

#cabecera {
    position: fixed;
    width: 100%;
    height: 17%;
    left: 0px;
    top: 0px;
}

#logo {
    position: relative;
    width: 10%;
    height: 125%;
    left: 43%;
    top: 20%;
    min-width: 75px;
}

header div div{
    position: absolute;
    height: 20%;
    right: 5px;
    top: 50%;
    font-family: 'PT Serif Caption, Brush Script MT';
    font-style: italic;
    font-weight: 400;
    font-size: 350%;
    text-align: end;
    width: 380px;
    color: #FFFFFF;
    background: none;
}

/*Propiedades del pie de pagina*/
footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 15%;
    mix-blend-mode: color-dodge;
    background: #14425C;
}

footer div {
    position: relative;
    height: 100%;
    width: 99.9%;
    left: 0px;
    top: 0px;
    background: none;
    mix-blend-mode: normal;
}

#pie {
    position: relative;
    width: 100%;
    height: 100%;
    left: 1px;
    top: 0px;
    mix-blend-mode: normal;
}

#pie div {
    background: none;
    position: absolute;
}

.redes_logo_pie {
    position: absolute;
    width: 5%;
    top: 50%;
}

#facebook_logo_pie {
    left: 25%;
}

#instagram_logo_pie {
    left: 47%;
}

#whatsapp_logo_pie {
    left: 2%;
}

.redes_texto_pie {
    position: absolute;
    text-decoration: none;
    width: auto;
    height: auto;
    font-family: 'PT Serif Caption, Brush Script MT';
    font-style: normal;
    font-weight: 400;
    font-size: 125%;
    line-height: 16px;
    color: #FFFFFF;
    top: 58%;
}

#texto_facebook_pie {
    left: 30%;
}

#texto_instagram_pie {
    left: 53%;
}

#texto_whatsapp_pie {
    left: 7%;
}

#direccion {
    position: absolute;
    width: 122.5px;
    height: 50%;
    right: 10px;
    top: 30%;
    font-family: 'PT Serif Caption';
    font-style: italic;
    font-weight: 400;
    font-size: 125%;
    line-height: 100%;
    color: #FFFFFF;
    left: auto;
    text-align: end;
}

#numero {
    position: absolute;
    width: auto;
    height: auto;
    right: 10px;
    top: 70%;
    font-family: 'PT Serif Caption, Brush Script MT';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 13px;
    color: #FFFFFF;
    text-decoration: none;
}

/*Cuerpo*/
.cuerpo {
    position: absolute;
    width: 420px;
    left: 0px;
    top: 125px;
}