/*Propiedades del encabezado*/
header {
    position: static;
    height: 20%;
    mix-blend-mode: color-dodge;
}

header div {
    position: fixed;
    height: 20%;
    width: 100%;
    left: 0px;
    top: 0px;
    background: #601714;
    mix-blend-mode: normal;
}

#cabecera {
    position: fixed;
    width: 100%;
    height: 20%;
    left: 0px;
    top: 0px;
}

#logo {
    position: relative;
    width: 10%;
    height: 65%;
    left: 43%;
    top: 25%;
}

header div div{
    position: relative;
    width: 50%;
    height: 20%;
    left: 40%;
    top: -20%;
    font-family: 'PT Serif Caption, Brush Script MT';
    font-style: italic;
    font-weight: 400;
    font-size: 350%;
    color: #FFFFFF;
    background: none;
}

/*Propiedades del pie de pagina*/
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20%;
    mix-blend-mode: color-dodge;
    background: #14425C;
}

footer div {
    position: relative;
    height: 100%;
    left: 0px;
    top: 0px;
    background: none;
    mix-blend-mode: normal;
}

#pie {
    position: absolute;
    width: 99.9%;
    height: 100%;
    left: 1px;
    top: 0px;
    mix-blend-mode: normal;
}

#pie div {
    background: none;
    position: absolute;
}

.redes_logo_pie {
    position: absolute;
    width: 7%;
    top: 50%;
}

#facebook_logo_pie {
    left: 25%;
}

#instagram_logo_pie {
    left: 47%;
}

#whatsapp_logo_pie {
    left: 2%;
}

.redes_texto_pie {
    position: absolute;
    text-decoration: none;
    width: auto;
    height: auto;
    font-family: 'PT Serif Caption, Brush Script MT';
    font-style: normal;
    font-weight: 400;
    font-size: 150%;
    line-height: 16px;
    color: #FFFFFF;
    top: 62%;
}

#texto_facebook_pie {
    left: 32%;
}

#texto_instagram_pie {
    left: 55%;
}

#texto_whatsapp_pie {
    left: 9%;
}

#direccion {
    position: absolute;
    width: 15%;
    height: 50%;
    left: 85%;
    top: 30%;
    font-family: 'PT Serif Caption';
    font-style: italic;
    font-weight: 400;
    font-size: 150%;
    line-height: 100%;
    color: #FFFFFF;
}

#numero {
    position: absolute;
    width: auto;
    height: auto;
    left: 83%;
    top: 75%;
    font-family: 'PT Serif Caption, Brush Script MT';
    font-style: italic;
    font-weight: 400;
    font-size: 150%;
    line-height: 13px;
    color: #FFFFFF;
    text-decoration: none;
}

/*Cuerpo*/
.cuerpo {
    position: absolute;
    width: 420px;
    left: 0px;
    top: 125px;
}