.rectangulo {
  box-sizing: border-box;
  background: #D9D9D9;
  border: 2.5px solid #000000;
  position: absolute;
  width: 210px;
}

.redes_logo {
  font-family: 'PT Serif Caption, Brush Script MT';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  position: absolute;
  height: 30px;
  width: 30px;
  left: 15px;
}
.redes_text {
  font-family: 'PT Serif Caption, Brush Script MT';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  position: absolute;
  height: 30px;
  left: 45px;
  text-align: left;
}

.caja_redes {
  position: relative;
  height: 40px;
  width: 200px;
}
